{% extends 'gestion/base.html' %}	
{% load static %}
{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Bienvenido al Area de Clientes</h1>
	</div>
</div>
<div class="center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 center-content">
          <a href="{% url 'Citas' %}" role="button" class="btn btn-primary btn-block w-100">Gestión de citas</a>
        </div>
      </div>
      {% if rol == "administrador" %}
      <div class="row mt-4 justify-content-center">
        <div class="col-6 center-content">
          <a href="{% url 'Servicios' %}" role="button" class="btn btn-primary btn-block w-100">Gestión de servicios</a>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-6 center-content">
          <a href="{% url 'Ofertas' %}" role="button" class="btn btn-primary btn-block w-100">Gestión de ofertas</a>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-6 center-content">
          <a href="{% url 'Usuarios' %}" role="button" class="btn btn-primary btn-block w-100">Gestión de usuarios</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %} 