{% extends 'gestion/base.html' %}	
{% load static %}
{% block content %}
<div class="container mb-5">
	<div class="header-container">
		<h1 class="m-0">Gestión de ofertas</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-4 center-content">
			<a href="{% url 'OfertasCrear' %}" role="button" class="btn btn-primary btn-block w-100">Crear oferta</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="table-responsive">
		<table id="tabla" class="table">
			<thead>
			<tr>
				<th>Nombre</th>
				<th>Descuento</th>
				<th>Fecha Finalizacion</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
				{% for oferta in ofertas %}
				<tr class="align-middle">
					<td>{{oferta.nombre}}</td>
					<td>{{oferta.descuento}}</td>
					<td>{{oferta.fecha_fin}}</td>
					<td>
						{% include './snippets/botones-acciones.html' with element="oferta" url_modificar=url_modificar id=oferta.id%}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %} 