{% extends 'gestion/base.html' %}	
{% load static %}
{% block content %}
<div class="container mb-5">
	<div class="header-container">
		<h1 class="m-0">Gestión de usuarios</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-4 center-content">
			<a href="#" role="button" class="btn btn-primary btn-block w-100">Crear usuario</a>
		</div>
		<div class="col-4 center-content">
			<a href="#" role="button" class="btn btn-primary btn-block w-100">Listado de usuarios</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="table-responsive">
		<table id="tabla" class="table">
			<thead>
			<tr>
				<th>Nombre</th>
				<th>Rol</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
				{% for usuario in usuarios %}
				<tr class="align-middle">
					<td>{{usuario.nombre}}</td>
					<td>{{usuario.role.nombre}}</td>
					<td>
						{% include './snippets/estado.html' with status=usuario.activo %}
					</td>
					<td>
						{% include './snippets/botones-acciones.html' with element="usuario"  id=usuario.id%}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %} 