{% extends 'hairdresserapp/base.html' %}	
{% load static %}
{% block content %}
<div class="jumbotron mt-5">
	<div class="container">
		<h1>Contacto</h1>
	</div>
</div>
<div class="container my-5">
    <h3 class="mb-3">Información de Contacto</h3>
    <p>Dirección: AVINGUDA MADRID, 61, 03119, JIJONA/XIXONA(ALICANTE/ALACANT)</p>
    <p>Teléfono: 952506038</p>
    <p>Email: hairdresserapp@hairdresserapp.com</p>
</div>
<div class="container my-5">
    <h3>Email</h3>
    <p>Por favor, rellena el formulario de contacto a continuación y te responderemos lo antes posible.</p>
{% comment %} 
Control para el usuario de que se ha enviado la informacion de forma correcta. 
{% endcomment %}
	{% if "correcto" in request.GET %}
	<div class="container">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">¡Enhorabuena!</h4>
				<p>Se envió la información de forma correcta.</p>
		</div>
	</div>
	{% elif "incorrecto" in request.GET%}
	<div class="container">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">¡Error!</h4>
				<p>Se ha producido algún error al procesar su solicitud.</p>
		</div>
	</div>
	{% endif %}
{% comment %} 
Carga dinamica de elementos de un form.
{% endcomment %}
    <form action="#" method="POST">
		{% csrf_token %}
		{% for campo in formularioContacto %}
		<div>
		  {{ campo.label_tag }} {{ campo }}
		  {% if campo.errors %}
			<ul class="errorlist">
			  {% for error in campo.errors %}
				<li>{{ error }}</li>
			  {% endfor %}
			</ul>
		  {% endif %}
		</div>
	  {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% comment %} 
Debug del contenido de la peticion POST
{% endcomment %}
{{request.POST}}
{% endblock content %} 